@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .anim-300 {
        @apply transition-all duration-300 ease-linear;
    }
    .anim-500 {
        @apply transition-all duration-500 ease-linear;
    }
}

@layer utilities {
     /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}
