* {
    margin: 0;
    padding: 0;
}

:root {

    --border-radius: 15px;

    --primary-bg-color: #383838;

    --box-padding: 10px;
    --box-margin: 10px;
    --box-size: 200px;
    --box-container-size: 210px;
}

.blocks-container {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.weeks-container {
    display: block;
    width: 100vw;
    height: 40vh;
    background-color: blue;
}

.day-container {
    display: block  ;
    background-color: gold;
    width: 100vw;
    height: var(--box-container-size);
    border-radius: var(--border-radius);
    /* padding: var(--box-padding); */
}

.task-container {
    position: absolute;
    display: block;
    width: var(--box-size);
    height: var(--box-size);
    background-color: green;
    padding: var(--box-padding);
    border-radius: var(--border-radius);
}